<%- include('partials/header.ejs') %>

<link href="/createpost.css" rel="stylesheet">

<div class="container" id="createcont">
    <form class="formcreate" action="/update/<%= post.id %>?_method=PUT" method="POST">
        <div class="createrow row">
            <div class="col-4" id="column1">
                <h2 class="text-center mt-5">Select</h2>
                <fieldset class="form-group option">
                    <div class="row">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Blog" 
                          <% if(post.type=="Blog") {%>
                          checked
                          <% } %>
                          >
                          <label class="form-check-label" for="gridRadios1">Blog</label>
                        </div>
                        <% if(admin) { %>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Notice"
                          <% if(post.type=="Notice") {%>
                            checked
                            <% } %>
                          >
                          <label class="form-check-label" for="gridRadios2">Notice</label>
                        </div>
                        <% } %>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="Interview"
                          <% if(post.type=="Interview") {%>
                            checked
                            <% } %>
                          >
                          <label class="form-check-label" for="gridRadios3">Interview Experience</label>
                        </div>
                    </div>
                  </fieldset>
            </div>
            <div class="vl col-1"></div>
            <div class="col-7 text-center" id="column2">
                <h1>Createpost</h1>
                <div class="form-row m-3">
                    <h5>Title</h5>
                    <input class="form-control" type="text" name="title" placeholder="Title" required="true" value="<%= post.title %>">
                </div>
                <div class="form-row m-3">
                    <h5>Description</h5>
                    <textarea class="descrip" name="description" id="content" rows="2" placeholder="Description" required="true"><%= post.description %></textarea>
                </div>
                <div class="form-row m-3">
                    <h5>Content</h5>
                    <textarea class="descrip" name="content" id="content" rows="4" placeholder="Content" required="true"><%= post.content %></textarea>
                </div>
                <div class="buttons">
                        <button class="btn btn-primary" type="submit">
                            Update
                        </button>
                        <a class="btn btn-primary px-3 mx-3" href="/">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>

<%- include('partials/footer.ejs') %>